<%- include('./../../helpers/showgoldprice'); -%>

<h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a href="#" class="title_text">BẢNG
  GIÁ VÀNG</a> </h2>
<ul class="catg1_nav">
<div class="container-coin ">
  <table class="table crypto-table">
    <thead>
      <tr>
        <th scope="col">Tên</th>
        <th scope="col">Bán</th>
        <th scope="col">Mua</th>
        <!-- <th scope="col">1h %</th> -->
      </tr>
    </thead>
    <tbody>
      <%- showGoldPrice(goldPrice) %>
    </tbody>
  </table>
</div>

</ul>