<div id="switcher_wrap" class="switcher_moved lazy_open">
<a class="switcher_close" href="#"><i class="fa fa-times"></i></a>
<h3>Customize</h3>
<p>Try a few quick examples of endless possibilities and get a style you like. </p>
<h4>Font examples</h4>
<ul class="switcher_items fonts">
    <li class="list-item-0"><a href="javascript:void(0);" title="Default" class="active" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/default.css" data-type="font" data-id="default">Default</a></li>
    <li class="list-item-1"><a href="javascript:void(0);" title="PT Sans + Roboto" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/font-1.css" data-type="font" data-id="font-1">PT Sans + Roboto</a></li>
    <li class="list-item-2"><a href="javascript:void(0);" title="Cabin + Lobster" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/font-2.css" data-type="font" data-id="font-2">Cabin + Lobster</a></li>
    <li class="list-item-3"><a href="javascript:void(0);" title="Roboto Slab + Roboto" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/font-3.css" data-type="font" data-id="font-3">Roboto Slab + Roboto</a></li>
</ul>
<h4>Color examples</h4>
<ul class="switcher_items colors">
    <li class="list-item-0"><a href="javascript:void(0);" title="Default" class="active" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/default.css" data-type="color" data-id="default">Default</a></li>
    <li class="list-item-1"><a href="javascript:void(0);" title="Blue" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/color-1.css" data-type="color" data-id="color-1">Blue</a></li>
    <li class="list-item-2"><a href="javascript:void(0);" title="Red" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/color-2.css" data-type="color" data-id="color-2">Red</a></li>
    <li class="list-item-3"><a href="javascript:void(0);" title="Dark" class="" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/demo/css/color-3.css" data-type="color" data-id="color-3">Dark</a></li>
</ul>
<label class="show-rtl"><input type="checkbox" id="show-rtl" data-url="https://demo.mekshq.com/gridlove/wp-content/themes/gridlove/assets/css/rtl.css">RTL (right to left) mode</label>
<h3>Real life Examples</h3>
<p class="double-margin"><a class="presale_question" href="https://mekshq.com/websites/gridlove/" target="_blank">Click here</a> to see what some of our customers created with Gridlove!</p>
<a href="https://1.envato.market/c/1234066/275988/4415?subId1=demo&subId2=customizer&subId3=gridlove&u=https%3A%2F%2Fthemeforest.net%2Fcart%2Fadd_items%3Fitem_ids%3D17990371" class="buy_now customizer-button customizer-button-orange" target="_blank"><i class="fa fa-shopping-cart"></i>Purchase now!</a>
<a href="javascript:void(0);" class="customizer-button customizer-button-green mks-ep-trigger-open"><i class="fa fa-rocket"></i>Try it <span>for free</span></a>
<a class="customizer-button customizer-button-hollow" href="https://mekshq.com/contact/#presale" target="_blank"><i class="fa fa-comment"></i>Pre-sale <span>question</span>?</a>
</div>