<div id="content" class="gridlove-site-content container">
<div id="gridlove-module-0" class="gridlove-module module-type-posts  gridlove-module-layout-combo">
    <div class="module-header">
        <div class="module-title">
            <h2>Editor’s pick</h2>
        </div>
    </div>
    <div class="row gridlove-posts ">
        <div class="col-lg-8 col-md-12 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-b gridlove-box  post-174 post type-post status-publish format-video has-post-thumbnail hentry category-entertainment post_format-post-format-video">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=174" title="Are rock concerts really coming back into fashion?"><img width="385" height="300" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_38-385x300.jpg" class="attachment-gridlove-b8 size-gridlove-b8 wp-post-image" alt="" loading="lazy" /></a>
            </div>
            <div class="box-inner-ptbr box-col-b entry-sm-overlay">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <span class="gridlove-format-icon"><i class="fa fa-play"></i></span>                
                        <a href="https://demo.mekshq.com/gridlove/?cat=6" class="gridlove-cat gridlove-cat-6">Entertainment</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=174">Are rock concerts really coming back into fashion?</a></h2>
                    <div class="entry-content">
                        <p>Monotonectally pursue backward-compatible ideas without empowered imperatives. Interactively predominate low-risk high-yield ROI rather than adaptive e-tailers. Progressively morph standardized value vis-a-vis just in...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-views">38,673 views</div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-d gridlove-box  post-182 post type-post status-publish format-standard has-post-thumbnail hentry category-technology">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=182" title="The world needs true geniuses now more than ever"><img width="370" height="300" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_24-370x300.jpg" class="attachment-gridlove-d4 size-gridlove-d4 wp-post-image" alt="" loading="lazy" /></a>
            </div>
            <div class="entry-overlay box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=73" class="gridlove-cat gridlove-cat-73">Technology</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=182">The world needs true geniuses now more than ever</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-c gridlove-box  post-183 post type-post status-publish format-standard has-post-thumbnail hentry category-technology category-travel tag-blog tag-photos tag-tips">
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=73" class="gridlove-cat gridlove-cat-73">Technology</a><a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=183">Does a blog post look better with a featured image?</a></h2>
                    <div class="entry-content">
                        <p>Authoritatively pontificate synergistic total linkage and pandemic metrics. Assertively initiate interactive architectures with end-to-end meta-services. Conveniently build standardized schemas without technically sound...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=183#respond">Add comment</a></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-201 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=201" title="If you’re truly happy and you know it let it show"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_01-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=3" class="gridlove-cat gridlove-cat-3">Lifestyle</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=201">If you’re truly happy and you know it let it show</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks3"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_5_1473333966-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Joana Bergstein</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="gridlove-inject gridlove-box gridlove-post ">
            <img src="https://mekshq.com/static/gridlove/gridlove_adsense.jpg" />
            </div>
        </div>
    </div>
</div>
<div id="gridlove-module-1" class="gridlove-module module-type-posts  gridlove-module-layout-combo">
    <div class="module-header">
        <div class="module-title">
            <h2>This week’s hottest</h2>
        </div>
    </div>
    <div class="row gridlove-posts ">
        <div class="col-lg-7 col-md-12 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-b gridlove-box  post-187 post type-post status-publish format-gallery has-post-thumbnail hentry category-food-and post_format-post-format-gallery">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=187" title="With good typography you don’t actually need images"><img width="335" height="300" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_13-335x300.jpg" class="attachment-gridlove-b7 size-gridlove-b7 wp-post-image" alt="" loading="lazy" /></a>
            </div>
            <div class="box-inner-ptbr box-col-b entry-sm-overlay">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <span class="gridlove-format-icon"><i class="fa fa-camera"></i></span>                
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=187">With good typography you don’t actually need images</a></h2>
                    <div class="entry-content">
                        <p>Distinctively coordinate pandemic technologies rather than market-driven meta-services. Distinctively reconceptualize high standards in infrastructures with pandemic methods of empowerment. Credibly conceptualize state...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks3"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_5_1473333966-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Joana Bergstein</a></span></span></div>
                    </div>
                    <div class="meta-item meta-views">12,958 views</div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-c gridlove-box  post-175 post type-post status-publish format-audio has-post-thumbnail hentry category-travel tag-blog tag-magazine tag-technology-2 post_format-post-format-audio">
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <span class="gridlove-format-icon"><i class="fa fa-music"></i></span>                
                        <a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=175">Don’t let fear stop you from having great adventures</a></h2>
                    <div class="entry-content">
                        <p>Interactively enable intermandated platforms before adaptive human capital. Enthusiastically leverage existing low-risk high-yield core competencies with installed base relationships. Rapidiously enhance functional...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=175#respond">Add comment</a></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-c gridlove-box gridlove-highlight post-169 post type-post status-publish format-standard has-post-thumbnail hentry category-technology">
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=73" class="gridlove-cat gridlove-cat-73">Technology</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=169">A lot of white space makes a design look professional</a></h2>
                    <div class="entry-content">
                        <p>Energistically cultivate inexpensive processes after go forward materials. Quickly re-engineer extensive testing procedures whereas orthogonal portals. Quickly visualize synergistic functionalities without error-free...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks3"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_5_1473333966-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Joana Bergstein</a></span></span></div>
                    </div>
                    <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=169#respond">Add comment</a></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-d gridlove-box  post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-blog tag-music-2 tag-studio">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=171" title="Cards look so good with a splash of color on the categories"><img width="270" height="300" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_28-270x300.jpg" class="attachment-gridlove-d3 size-gridlove-d3 wp-post-image" alt="" loading="lazy" /></a>
            </div>
            <div class="entry-overlay box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=6" class="gridlove-cat gridlove-cat-6">Entertainment</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=171">Cards look so good with a splash of color on the categories</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-combo">
            <article class="gridlove-post gridlove-post-c gridlove-box  post-168 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                            
                    </div>
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=168">An apple a day keeps the dentist away</a></h2>
                    <div class="entry-content">
                        <p>Enthusiastically incubate focused solutions after innovative functionalities. Synergistically exploit premier niche markets via sustainable strategic theme areas. Dramatically reintermediate team driven content for...</p>
                    </div>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=168#respond">Add comment</a></div>
                </div>
            </div>
            </article>
        </div>
    </div>
</div>
<div id="gridlove-module-2" class="gridlove-module module-type-posts  gridlove-module-layout-simple">
    <div class="module-header">
        <div class="module-title">
            <h2>Latest articles</h2>
        </div>
    </div>
    <div class="row gridlove-posts ">
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-167 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-company tag-music-2">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=167" title="Australia is the ultimate place in the world for kangaroo lovers"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_23-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=167">Australia is the ultimate place in the world for kangaroo lovers</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-164 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=164" title="The top 10 list of exotic fruits from last season"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_08-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=164">The top 10 list of exotic fruits from last season</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-163 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-blog tag-funk tag-music-2">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=163" title="Would you like to find out why cactuses have thorns?"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_04-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=6" class="gridlove-cat gridlove-cat-6">Entertainment</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=163">Would you like to find out why cactuses have thorns?</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-159 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=159" title="Summertime fruits are here for your true pleasure"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_32-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=159">Summertime fruits are here for your true pleasure</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box gridlove-highlight post-157 post type-post status-publish format-gallery has-post-thumbnail hentry category-entertainment post_format-post-format-gallery">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=157" title="The totaly amazing street art collection of 2016"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_34-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <span class="gridlove-format-icon"><i class="fa fa-camera"></i></span>                
                    <a href="https://demo.mekshq.com/gridlove/?cat=6" class="gridlove-cat gridlove-cat-6">Entertainment</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=157">The totaly amazing street art collection of 2016</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks3"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_5_1473333966-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Joana Bergstein</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-150 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=150" title="Why do most people love cats more than dogs?"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_17-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=3" class="gridlove-cat gridlove-cat-3">Lifestyle</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=150">Why do most people love cats more than dogs?</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-151 post type-post status-publish format-standard has-post-thumbnail hentry category-travel">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=151" title="5 reasons why you should definitely go on a safary"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_11-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=151">5 reasons why you should definitely go on a safary</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-148 post type-post status-publish format-standard has-post-thumbnail hentry category-technology tag-blog tag-food-2 tag-magazine tag-pasta">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=148" title="Behold the mighty ocean versus the courageous man"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_39-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=73" class="gridlove-cat gridlove-cat-73">Technology</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=148">Behold the mighty ocean versus the courageous man</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-144 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=144" title="How to make your home garden look like a million bucks"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_35-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=3" class="gridlove-cat gridlove-cat-3">Lifestyle</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=144">How to make your home garden look like a million bucks</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-146 post type-post status-publish format-video has-post-thumbnail hentry category-entertainment post_format-post-format-video">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=146" title="These 10 classical music pieces will leave you breathless"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_33-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <span class="gridlove-format-icon"><i class="fa fa-play"></i></span>                
                    <a href="https://demo.mekshq.com/gridlove/?cat=6" class="gridlove-cat gridlove-cat-6">Entertainment</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=146">These 10 classical music pieces will leave you breathless</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-142 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-blog tag-food-2 tag-magazine">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=142" title="The simplest ways to choose the best beach resorts"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_31-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=142">The simplest ways to choose the best beach resorts</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Lisa Scholfield</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 layout-simple">
            <article class="gridlove-post gridlove-post-a gridlove-box  post-140 post type-post status-publish format-standard has-post-thumbnail hentry category-travel">
            <div class="entry-image">
                <a href="https://demo.mekshq.com/gridlove/?p=140" title="The top 10 traveling taboos you should break right now"><img width="370" height="150" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_30-370x150.jpg" class="attachment-gridlove-a4 size-gridlove-a4 wp-post-image" alt="" loading="lazy" /></a>
                <div class="entry-category">
                    <a href="https://demo.mekshq.com/gridlove/?cat=2" class="gridlove-cat gridlove-cat-2">Travel</a>                            
                </div>
            </div>
            <div class="box-inner-p">
                <div class="box-inner-ellipsis">
                    <h2 class="entry-title h3"><a href="https://demo.mekshq.com/gridlove/?p=140">The top 10 traveling taboos you should break right now</a></h2>
                </div>
                <div class="entry-meta">
                    <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks1"><img  alt=''  src='https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_3_1473333938-24x24.jpg'  class='avatar avatar-24 photo' height='24' width='24' loading='lazy' />Patricia Callahan</a></span></span></div>
                    </div>
                    <div class="meta-item meta-date"><span class="updated">4 weeks ago</span></div>
                </div>
            </div>
            </article>
        </div>
    </div>
</div>
<nav class="gridlove-pagination gridlove-load-more">
    <a href="https://demo.mekshq.com/gridlove/?paged=2">Load More</a>	    
    <div class="gridlove-loader">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</nav>
</div>