<div id="cover" class="gridlove-cover-area gridlove-cover-1 gridlove-cover-slider owl-carousel owl-theme owl-loaded" data-items="1" data-autoplay="0">
<div class="owl-stage-outer">
    <div class="owl-stage" style="transform: translate3d(-4648px, 0px, 0px); transition: all 0.25s ease 0s; width: 10844.4px;">
        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=153" title="Coffee and lemons don’t go together that well" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_15-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=153">Coffee and lemons don’t go together that well</a></h2>
                    <div class="entry-content">
                        <p>Monotonectally predominate emerging deliverables without holistic information. Dynamically embrace cross unit quality vectors before innovative initiatives. Dramatically maintain global relationships for...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=153#respond">Add comment</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=155" title="Did you know that plants actually have a secret life?" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_02-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=155">Did you know that plants actually have a secret life?</a></h2>
                    <div class="entry-content">
                        <p>Authoritatively negotiate resource leveling experiences without prospective best practices. Holisticly engineer timely portals and holistic potentialities. Credibly negotiate high payoff functionalities...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=155#respond">Add comment</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=192" title="Everything you ever need to know about flowers" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_37-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=3" class="gridlove-cat gridlove-cat-3">Lifestyle</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=192">Everything you ever need to know about flowers</a></h2>
                    <div class="entry-content">
                        <p>Credibly empower enterprise wide mindshare for excellent "outside the box" thinking. Proactively mesh impactful meta services rather than enterprise results. Professionally generate end-to-end human capital...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=192#comments">4 comments</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item active" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=153" title="Coffee and lemons don’t go together that well" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_15-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=153">Coffee and lemons don’t go together that well</a></h2>
                    <div class="entry-content">
                        <p>Monotonectally predominate emerging deliverables without holistic information. Dynamically embrace cross unit quality vectors before innovative initiatives. Dramatically maintain global relationships for...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=153#respond">Add comment</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=155" title="Did you know that plants actually have a secret life?" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_02-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=155">Did you know that plants actually have a secret life?</a></h2>
                    <div class="entry-content">
                        <p>Authoritatively negotiate resource leveling experiences without prospective best practices. Holisticly engineer timely portals and holistic potentialities. Credibly negotiate high payoff functionalities...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=155#respond">Add comment</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=192" title="Everything you ever need to know about flowers" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_37-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=3" class="gridlove-cat gridlove-cat-3">Lifestyle</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=192">Everything you ever need to know about flowers</a></h2>
                    <div class="entry-content">
                        <p>Credibly empower enterprise wide mindshare for excellent "outside the box" thinking. Proactively mesh impactful meta services rather than enterprise results. Professionally generate end-to-end human capital...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=192#comments">4 comments</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 30px;">
            <div class="gridlove-cover-item">
            <div class="gridlove-cover-bg">
                <a href="https://demo.mekshq.com/gridlove/?p=153" title="Coffee and lemons don’t go together that well" class="gridlove-cover">
                <img width="1500" height="500" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_15-1500x500.jpg" class="attachment-gridlove-cover size-gridlove-cover wp-post-image" alt="" loading="lazy">                            <span class="gridlove-hidden-overlay"></span>
                </a>
            </div>
            <div class="gridlove-cover-content">
                <div class="entry-header">
                    <div class="entry-category">
                        <a href="https://demo.mekshq.com/gridlove/?cat=4" class="gridlove-cat gridlove-cat-4">Food &amp; Drinks</a>                                                    
                    </div>
                    <h2 class="entry-title h1"><a href="https://demo.mekshq.com/gridlove/?p=153">Coffee and lemons don’t go together that well</a></h2>
                    <div class="entry-content">
                        <p>Monotonectally predominate emerging deliverables without holistic information. Dynamically embrace cross unit quality vectors before innovative initiatives. Dramatically maintain global relationships for...</p>
                    </div>
                    <div class="entry-meta">
                        <div class="meta-item meta-author">
                        <div class="coauthors"><span class="vcard author"><span class="fn"><a href="https://demo.mekshq.com/gridlove?author_name=meks2"><img alt="" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/avatar_user_4_1473333956-24x24.jpg" class="avatar avatar-24 photo" height="24" width="24" loading="lazy">Lisa Scholfield</a></span></span></div>
                        </div>
                        <div class="meta-item meta-comments"><a href="https://demo.mekshq.com/gridlove/?p=153#respond">Add comment</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="owl-controls">
    <div class="owl-nav">
        <div class="owl-prev" style=""><i class="fa fa-chevron-left"></i></div>
        <div class="owl-next" style=""><i class="fa fa-chevron-right"></i></div>
    </div>
    <div class="owl-dots" style="">
        <div class="owl-dot"><span></span></div>
        <div class="owl-dot active"><span></span></div>
        <div class="owl-dot"><span></span></div>
    </div>
</div>
</div>