<!DOCTYPE html>
<html lang="en-US" class="no-js">
   <head>
    <% include elements/head %>  
   </head>
   <body class="home page-template page-template-template-modules page-template-template-modules-php page page-id-207 wp-embed-responsive theme-gridlove woocommerce-no-js chrome gridlove-v_2_1_1">
      <!-- sgv-->
      <% include elements/sgv %>
      <!-- header -->
      <% include elements/header %>
      <div id="gridlove-header-responsive" class="gridlove-header-responsive hidden-lg-up">
         <div class="container">
            <div class="gridlove-site-branding mini">
               <span class="site-title h1"><a href="https://demo.mekshq.com/gridlove/" rel="home"><img  class="gridlove-logo-mini"  src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/themes/gridlove/assets/img/gridlove_logo_mini.png"  alt="Gridlove"></a></span>
            </div>
            <ul class="gridlove-actions gridlove-menu">
               <li class="gridlove-actions-button gridlove-action-search">
                  <span>
                  <i class="fa fa-search"></i>
                  </span>
                  <ul class="sub-menu">
                     <li>
                        <form class="gridlove-search-form" action="https://demo.mekshq.com/gridlove/" method="get"><input name="s" type="text" value="" placeholder="Type here to search..." /><button type="submit" class="gridlove-button-search">Search</button></form>
                     </li>
                  </ul>
               </li>
               <li class="gridlove-actions-button">
                  <span class="gridlove-sidebar-action">
                  <i class="fa fa-bars"></i>
                  </span>
               </li>
            </ul>
         </div>
      </div>
      <!-- slider -->
      <% include elements/slider %>
      <!-- content -->
      <% include elements/content %>
      <!-- footer -->
      <% include elements/footer %>
      <div class="gridlove-sidebar-action-wrapper">
         <span class="gridlove-action-close"><i class="fa fa-times" aria-hidden="true"></i></span>
         <div class="gridlove-sidebar-action-inside">
            <div class="hidden-lg-up widget gridlove-box widget_nav_menu">
               <ul id="menu-gridlove-main-2" class="gridlove-mobile-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-207 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2156">
                     <a href="https://demo.mekshq.com/gridlove/" aria-current="page">Home</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-207 current_page_item menu-item-1883"><a href="https://demo.mekshq.com/gridlove/" aria-current="page">Default</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2159"><a href="https://demo.mekshq.com/gridlove/?page_id=2157">Example 1</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141"><a href="https://demo.mekshq.com/gridlove/?page_id=2139">Example 2</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2144"><a href="https://demo.mekshq.com/gridlove/?page_id=2142">Example 3</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2137"><a href="https://demo.mekshq.com/gridlove/?page_id=2135">Example 4</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1884">
                     <a href="#">Modules</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1967">
                           <a href="#">Post layouts</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2002"><a href="https://demo.mekshq.com/gridlove/?page_id=1965">Simple</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2004"><a href="https://demo.mekshq.com/gridlove/?page_id=1999">Combo</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2007"><a href="https://demo.mekshq.com/gridlove/?page_id=2005">Slider</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a href="https://demo.mekshq.com/gridlove/?page_id=2292">Masonry</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1979">
                           <a href="#">Cover areas</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2013"><a href="https://demo.mekshq.com/gridlove/?page_id=2011">Layout 1</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2022"><a href="https://demo.mekshq.com/gridlove/?page_id=2014">Layout 2</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2021"><a href="https://demo.mekshq.com/gridlove/?page_id=2016">Layout 3</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2020"><a href="https://demo.mekshq.com/gridlove/?page_id=2018">Layout 4</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2268"><a href="https://demo.mekshq.com/gridlove/?page_id=2265">Layout 5 (custom content)</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2026"><a href="https://demo.mekshq.com/gridlove/?page_id=2023">Text module</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2286"><a href="https://demo.mekshq.com/gridlove/?page_id=2281">Custom post types</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2294"><a href="https://demo.mekshq.com/gridlove/?page_id=2290">Category module</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1885">
                     <a href="#">Posts</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2070">
                           <a href="#">Layouts</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2069"><a href="https://demo.mekshq.com/gridlove/?p=1411">Layout 1</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2071"><a href="https://demo.mekshq.com/gridlove/?p=1415">Layout 2</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2072"><a href="https://demo.mekshq.com/gridlove/?p=1413">Layout 3</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2073"><a href="https://demo.mekshq.com/gridlove/?p=1409">Layout 4</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2074"><a href="https://demo.mekshq.com/gridlove/?p=1402">Layout 5</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2075"><a href="https://demo.mekshq.com/gridlove/?p=1391">Layout 6</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2077"><a href="https://demo.mekshq.com/gridlove/?p=1407">Layout 7</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2076"><a href="https://demo.mekshq.com/gridlove/?p=1388">Layout 8</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2078"><a href="https://demo.mekshq.com/gridlove/?p=1417">Layout 9</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2081">
                           <a href="#">Sidebars</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2080"><a href="https://demo.mekshq.com/gridlove/?p=127">Right sidebar</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2082"><a href="https://demo.mekshq.com/gridlove/?p=125">Left sidebar</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2083"><a href="https://demo.mekshq.com/gridlove/?p=123">No sidebar</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2084">
                           <a href="#">Formats</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2087"><a href="https://demo.mekshq.com/gridlove/?p=129">Gallery slider</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2090"><a href="https://demo.mekshq.com/gridlove/?p=134">Gallery grid</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2092"><a href="https://demo.mekshq.com/gridlove/?p=146">Video post</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2097"><a href="https://demo.mekshq.com/gridlove/?p=175">Audio post</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2085">
                           <a href="#">More</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2101"><a href="https://demo.mekshq.com/gridlove/?p=136">Paginated/multipage post</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2269"><a href="https://demo.mekshq.com/gridlove/?p=368">Multiple authors support</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2103"><a href="https://demo.mekshq.com/gridlove/?p=298">Vimeo video</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2104"><a href="https://demo.mekshq.com/gridlove/?p=301">Built-in video player</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2109"><a href="https://demo.mekshq.com/gridlove/?p=303">Soundcloud embed</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2110"><a href="https://demo.mekshq.com/gridlove/?p=307">Facebook embed</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2105"><a href="https://demo.mekshq.com/gridlove/?p=305">Twitter embed</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2106"><a href="https://demo.mekshq.com/gridlove/?p=309">Instagram embed</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2247"><a href="https://demo.mekshq.com/gridlove/?p=159&#038;single_infinite_scroll=1">Infinite scroll loading</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1886">
                     <a href="#">Archives</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2063"><a href="https://demo.mekshq.com/gridlove/?cat=2">Category</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2064"><a href="https://demo.mekshq.com/gridlove/?tag=blog">Tag</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2065"><a href="https://demo.mekshq.com/gridlove/?author=3">Author</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2066"><a href="https://demo.mekshq.com/gridlove/?s=ideas">Search results</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1887">
                     <a href="#">Pages</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2212">
                           <a href="#">Layouts</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2218"><a href="https://demo.mekshq.com/gridlove/?page_id=2199">Page layout 1</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2217"><a href="https://demo.mekshq.com/gridlove/?page_id=2201">Page layout 2</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2216"><a href="https://demo.mekshq.com/gridlove/?page_id=2203">Page layout 3</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2215"><a href="https://demo.mekshq.com/gridlove/?page_id=2205">Page layout 4</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2214"><a href="https://demo.mekshq.com/gridlove/?page_id=2207">Page layout 5</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2213"><a href="https://demo.mekshq.com/gridlove/?page_id=2209">Page layout 6</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2211">
                           <a href="#">Sidebars</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058"><a href="https://demo.mekshq.com/gridlove/?page_id=2049">Right sidebar</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2057"><a href="https://demo.mekshq.com/gridlove/?page_id=2055">Left sidebar</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061"><a href="https://demo.mekshq.com/gridlove/?page_id=2059">No sidebar</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2228"><a href="https://demo.mekshq.com/gridlove/?page_id=2219">Full width page</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2238"><a href="https://demo.mekshq.com/gridlove/?page_id=2234">Authors page</a></li>
                     </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2119">
                     <a href="#">Features</a>
                     <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2123"><a href="https://demo.mekshq.com/gridlove/?page_id=2027">Styleguide</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2496"><a href="https://demo.mekshq.com/gridlove/?page_id=2492">WordPress 5 blocks</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2172">
                           <a href="#">Headers</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2171"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=1">Layout 1 (default)</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2173"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=2">Layout 2</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2174"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=3">Layout 3 (bottom bar)</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2175"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=4">Layout 4 (bottom bar)</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2176"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=5">Layout 5 (ad spot)</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2177"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=6">Layout 6 (ad spot)</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2178"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=6&#038;topbar=1">With top bar</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2179"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=1&#038;header_wide=1">Full width elements</a></li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2180"><a href="https://demo.mekshq.com/gridlove/?p=197&#038;header=1&#038;header_wide=1&#038;logo_bg=1">With logo background</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2192">
                           <a href="#">Pagination</a>
                           <ul class="sub-menu">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2196"><a href="https://demo.mekshq.com/gridlove/?page_id=2182">Numeric</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2195"><a href="https://demo.mekshq.com/gridlove/?page_id=2184">Previous / Next</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2194"><a href="https://demo.mekshq.com/gridlove/?page_id=2186">Load more button</a></li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2193"><a href="https://demo.mekshq.com/gridlove/?page_id=2190">Infinite scroll</a></li>
                           </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2147"><a href="https://demo.mekshq.com/gridlove/?page_id=2145">Highlight posts</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2260"><a href="https://demo.mekshq.com/gridlove/?page_id=2256">Module w/ injected content</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1888"><a href="https://demo.mekshq.com/gridlove/?cat=4">Category menu</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2120"><a href="https://demo.mekshq.com/gridlove/?page_id=2043">Custom widgets</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2122"><a href="https://demo.mekshq.com/gridlove/?page_id=2032">Shortcodes</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2121"><a href="https://demo.mekshq.com/gridlove/?page_id=2035">Contact</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2124"><a href="https://demo.mekshq.com/gridlove/?p=123456789">404 not found</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2245"><a href="https://demo.mekshq.com/gridlove/?product_cat=clothing">WooCommerce</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2248"><a href="https://demo.mekshq.com/gridlove/?forum=forum">bbPress (Forum)</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2278"><a target="_blank" rel="noopener" href="https://demo.mekshq.com/?theme=gridlove&#038;testdrive">View all features</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div id="mks_social_widget-6" class="widget gridlove-box mks_social_widget">
               <h4 class="widget-title">Follow us</h4>
               <p>Don't be shy, get in touch. We love meeting interesting people and making new friends.</p>
               <ul class="mks_social_widget_ul">
                  <li><a href="https://www.facebook.com/mekshq" title="Facebook" class="socicon-facebook soc_circle" target="_blank" style="width: 44px; height: 44px; font-size: 16px;line-height:49px;"><span>facebook</span></a></li>
                  <li><a href="https://twitter.com/mekshq" title="Twitter" class="socicon-twitter soc_circle" target="_blank" style="width: 44px; height: 44px; font-size: 16px;line-height:49px;"><span>twitter</span></a></li>
                  <li><a href="https://youtube.com/" title="YouTube" class="socicon-youtube soc_circle" target="_blank" style="width: 44px; height: 44px; font-size: 16px;line-height:49px;"><span>youtube</span></a></li>
                  <li><a href="https://blogger.com" title="Blogger" class="socicon-blogger soc_circle" target="_blank" style="width: 44px; height: 44px; font-size: 16px;line-height:49px;"><span>blogger</span></a></li>
               </ul>
            </div>
            <div id="gridlove_posts_widget-5" class="widget gridlove-box gridlove_posts_widget">
               <h4 class="widget-title">Most popular<span class="gridlove-slider-controls" data-autoplay="0"></span></h4>
               <div class="gridlove-posts-widget gridlove-widget-slider">
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-1411 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and tag-awesome tag-music-2 tag-new tag-post tag-rock">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1411" title="20 healthy breakfast ideas for lazy people">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_45-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1411">20 healthy breakfast ideas for lazy people</a></h6>
                        </div>
                     </article>
                     <article class="post-153 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and tag-company tag-lifestyle-2 tag-magazine">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=153" title="Coffee and lemons don’t go together that well">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_15-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=153">Coffee and lemons don’t go together that well</a></h6>
                        </div>
                     </article>
                     <article class="post-187 post type-post status-publish format-gallery has-post-thumbnail hentry category-food-and post_format-post-format-gallery">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=187" title="With good typography you don’t actually need images">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_13-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=187">With good typography you don’t actually need images</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-1417 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1417" title="Top 100 secret recipes revealed by experts">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_42-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1417">Top 100 secret recipes revealed by experts</a></h6>
                        </div>
                     </article>
                     <article class="post-1388 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1388" title="Does food taste better when cooked outside?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_53-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1388">Does food taste better when cooked outside?</a></h6>
                        </div>
                     </article>
                     <article class="post-155 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and tag-blog tag-company tag-entrepreneurship tag-magazine">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=155" title="Did you know that plants actually have a secret life?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_02-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=155">Did you know that plants actually have a secret life?</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-159 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=159" title="Summertime fruits are here for your true pleasure">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_32-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=159">Summertime fruits are here for your true pleasure</a></h6>
                        </div>
                     </article>
                     <article class="post-191 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and category-lifestyle">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=191" title="Silence is the secret ingredient for a healthy life">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_36-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=191">Silence is the secret ingredient for a healthy life</a></h6>
                        </div>
                     </article>
                     <article class="post-164 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=164" title="The top 10 list of exotic fruits from last season">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_08-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=164">The top 10 list of exotic fruits from last season</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-168 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=168" title="An apple a day keeps the dentist away">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_19-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=168">An apple a day keeps the dentist away</a></h6>
                        </div>
                     </article>
                     <article class="post-180 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and tag-blog tag-magazine tag-technology-2">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=180" title="Little known facts about tomatoes and why they matter">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_22-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=180">Little known facts about tomatoes and why they matter</a></h6>
                        </div>
                     </article>
                     <article class="post-309 post type-post status-publish format-standard has-post-thumbnail hentry category-food-and category-technology">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=309" title="Instagram embed example">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_48-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=309">Instagram embed example</a></h6>
                        </div>
                     </article>
                  </div>
               </div>
            </div>
            <div id="gridlove_posts_widget-6" class="widget gridlove-box gridlove_posts_widget">
               <h4 class="widget-title">Most discussed<span class="gridlove-slider-controls" data-autoplay="0"></span></h4>
               <div class="gridlove-posts-widget gridlove-widget-slider">
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-157 post type-post status-publish format-gallery has-post-thumbnail hentry category-entertainment post_format-post-format-gallery">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=157" title="The totaly amazing street art collection of 2016">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_34-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=157">The totaly amazing street art collection of 2016</a></h6>
                        </div>
                     </article>
                     <article class="post-1409 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1409" title="Why is she laying on grass in a wedding dress?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_46-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1409">Why is she laying on grass in a wedding dress?</a></h6>
                        </div>
                     </article>
                     <article class="post-138 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-blog tag-fashoin tag-magazine">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=138" title="What the music industry can teach you about business">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_29-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=138">What the music industry can teach you about business</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-1415 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1415" title="How celebrities party on summer festivals">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_43-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1415">How celebrities party on summer festivals</a></h6>
                        </div>
                     </article>
                     <article class="post-146 post type-post status-publish format-video has-post-thumbnail hentry category-entertainment post_format-post-format-video">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=146" title="These 10 classical music pieces will leave you breathless">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_33-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=146">These 10 classical music pieces will leave you breathless</a></h6>
                        </div>
                     </article>
                     <article class="post-163 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-blog tag-funk tag-music-2">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=163" title="Would you like to find out why cactuses have thorns?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_04-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=163">Would you like to find out why cactuses have thorns?</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-blog tag-music-2 tag-studio">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=171" title="Cards look so good with a splash of color on the categories">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_28-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=171">Cards look so good with a splash of color on the categories</a></h6>
                        </div>
                     </article>
                     <article class="post-174 post type-post status-publish format-video has-post-thumbnail hentry category-entertainment post_format-post-format-video">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=174" title="Are rock concerts really coming back into fashion?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_38-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=174">Are rock concerts really coming back into fashion?</a></h6>
                        </div>
                     </article>
                     <article class="post-303 post type-post status-publish format-audio has-post-thumbnail hentry category-entertainment post_format-post-format-audio">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=303" title="Soundcloud embed example">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2017/08/pinhole_food_08-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=303">Soundcloud embed example</a></h6>
                        </div>
                     </article>
                  </div>
                  <div class="gridlove-posts-widget-item-wrapper">
                     <article class="post-367 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=367" title="What kangaroos can teach you about focus">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_23-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=367">What kangaroos can teach you about focus</a></h6>
                        </div>
                     </article>
                     <article class="post-1402 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1402" title="Do you play the guitar sitting or standing up?">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_49-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1402">Do you play the guitar sitting or standing up?</a></h6>
                        </div>
                     </article>
                     <article class="post-1407 post type-post status-publish format-standard has-post-thumbnail hentry category-entertainment tag-bass tag-music-2 tag-new tag-songs">
                        <div class="entry-image">
                           <a href="https://demo.mekshq.com/gridlove/?p=1407" title="20 new animal movies you&#8217;ve never seen before">
                           <img width="80" height="60" src="https://mksdmcdn-9b59.kxcdn.com/gridlove/wp-content/uploads/2016/09/gridlock_47-80x60.jpg" class="attachment-gridlove-thumbnail size-gridlove-thumbnail wp-post-image" alt="" loading="lazy" />		                </a>
                        </div>
                        <div class="entry-header">
                           <h6><a href="https://demo.mekshq.com/gridlove/?p=1407">20 new animal movies you&#8217;ve never seen before</a></h6>
                        </div>
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="gridlove-sidebar-action-overlay"></div>
      <div id="switcher_link">
         <a href="#"><i class="fa fa-cog fa-spin"></i></a>
      </div>
      <!-- boxRight -->

      <!-- <% include elements/boxRight %> -->

      <div class="mks-ep-modal mks-ep-modal-test-drive">
         <div class="mks-ep-section">
            <div class="mks-ep-container">
               <div class="mks-ep-modal-test-drive-request">
                  <div class="mks-ep-section-heading">
                     <span class="mks-ep-section-title">Try Gridlove theme now for free!</span>
                     <span class="mks-ep-section-subtitle">Just enter your email and get access to your test website immediately.</span>
                  </div>
                  <form class="mks-ep-modal-test-drive-form">
                     <p class="mks-ep-modal-test-drive-response-error"></p>
                     <input type="email" name="email" placeholder="Your email address..." class="mks-ep-test-drive-email"/>
                     <input type="submit" value="Get access now" class="mks-ep-button">
                     <span class="mks-ep-cta-below">* Do not worry, we won't spam.</span>
                     <input type="hidden" name="theme" class="mks-ep-test-drive-theme" value="gridlove">
                     <input type="hidden" name="ref" class="mks-ep-test-drive-ref" value="click-customizer">
                  </form>
               </div>
               <div class="mks-ep-modal-test-drive-response">
                  <i class="fa fa-check"></i>
                  <p class="mks-ep-modal-test-drive-response-success"></p>
               </div>
               <div class="mks-ep-modal-test-drive-loader">
                  <div class="lds-ellipsis">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
               </div>
            </div>
         </div>
         <a href="javascript:void(0);" class="mks-ep-close-modal"><i class="fa fa-times"></i></a>
      </div>
      <% include elements/script %>
   </body>
</html>