<div class="business_category_right wow fadeInDown">
    <ul class="small_catg">
      <li>
        <div class="media wow fadeInDown"> <a class="media-left" href="pages/single.html"><img src="images/112x112.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="media-heading"><a href="pages/single.html">Duis condimentum nunc pretium lobortis </a></h4>
            <div class="comments_box"> <span class="meta_date">14/12/2045</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media wow fadeInDown"> <a class="media-left" href="#"><img src="images/112x112.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
            <div class="comments_box"> <span class="meta_date">14/12/2045</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media wow fadeInDown"> <a class="media-left" href="#"><img src="images/112x112.jpg" alt=""></a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
            <div class="comments_box"> <span class="meta_date">14/12/2045</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
          </div>
        </div>
      </li>
    </ul>
  </div>