<%- include('./showCategoryName'); -%>
<%- include('./customdate'); -%>

<% 
    showTopPost = (collection, category, photo) => {
        let html=''
        collection.forEach((val, index)=>{
                if (index > 3) return;
                html +=  `<li>
                    <img src="/uploads/${photo}/${val.thumb}" style="object-fit: cover;" alt="${val.thumb}">
                    <div class="title_caption"><a href="pages/single/${val.slug}">${val.name}</a></div>
                  </li>
                  `
        })
        return html
    }
%>

