<%
    showBreakingNewsBottom = (collection,photo) =>{
        let html = ""
        collection.forEach((val, index)=>{
            if (index > 1) return;
            html += ` <div class="media"> <a class="media-left" href="#"><img src="/uploads/${photo}/${val.thumb}" style="object-fit: cover;" alt=""></a>
                <div class="media-body">
                  <h4 class="media-heading pt-10"><a href="#">${val.name}</a></h4>
                  <div class="comments_box"> <span class="meta_date">${customDate(val.createdAt)}</span> <span class="meta_comment"><a href="#">No Comments</a></span> </div>
                </div>
              </div>`
            })
            return html
    }
%>
