<%- include('./showCategoryName'); -%>
<%- include('./customdate'); -%>


<% 
    showSlider = (collection, category, photo) => {
        let html=''
        collection.forEach((val, index)=>{
                if (index > 4) return;
                html += `
                <div class="single_iteam" style="height: 425px;" >
                    <img src="/uploads/${photo}/${val.thumb}"  style="object-fit: cover;" alt="${photo}">    
                    <h2><a class="slider_tittle" href="pages/single/${val.slug}">${val.name}</a></h2>
                </div>`
        })
        return html
    }
%>