<%- include('./showCategoryName'); -%>
<%- include('./customdate'); -%>

<% 
    showArticleRandom = (collection, category, photo) => {
      let html=''
      let data = collection.slice(6,9)
      data.forEach((val, index)=>{
        html += ` <div class="media wow fadeInDown"> <a href="#" class="media-left"><img alt="" src="/uploads/${photo}/${val.thumb}" style="object-fit: cover;"> </a>
          <div class="media-body">
           
            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="category/${showCategoryName(category, val.categoryId).slug}">${showCategoryName(category, val.categoryId).name}</a>
            <a class="text-body" href="">
              <small>${customDate(val.createdAt)}</small>
          </a>
          <h4 class="media-heading pt-10"><a href="#">${val.name}</a></h4>
          </div>
        </div>
              
              `
      })
      return html
    }
%>

